extends ../layout

block head
  meta(name='description', content='linkgo.io web')
  meta(name='author', content='linkgo.io')
  title linkgo.io

  link(rel='stylesheet', type='text/css', href='/vendor/semantic/semantic.css')
  link(rel='stylesheet', type='text/css', href='/views/home/index.css')
  link(rel='stylesheet', type='text/css', href='/iconfonts/flaticon.css')


block feet
  //script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js')
  script(src='/vendor/semantic/semantic.js')
  script(src='/views/home/index.js')
  script.
    $(function(){
    $('.ui.card').popup();
    });

block body
  #home
   .ui.fluid.container 

    .ui.inverted.masthead.centered.segment
      .ui.grid
        .column
          .ui.secondary.pointing.menu
            a.logo.item
              | startup
            a.active.item
              i.flaticon-home
              |  Home
            a.item
              i.flaticon-mail
              |  Messages
            a.item
              i.flaticon-heart
              |  Friends

            .right.menu
              .item
                .ui.icon.input
                  input(placeholder='Search...', type='text')
                  i.flaticon-position.link.icon
              a.ui.item
                | Logout

          .ui.hidden.transition.information
            h1.ui.inverted.centered.header
              | An Old Cat Can Learn New Tricks
            p.ui.centered.lead
              | At least he won't reach his highest potential unless
              br
              | you enroll him in Cat University's 2013 class.
            a.large.basic.inverted.animated.fade.ui.button(href='#')
              .visible.content Come to ICU 2013
              .hidden.content Register Now
            //.ui.centerted.image
            //  img(src='images/home/banner.png')

    .ui.feature.vertical.segment
      .ui.three.column.center.aligned.stackable.grid
        .column.column-feature
          .ui.icon.header
            i.flaticon-connecting.icon
            |               Courses
          p Take your kitty to a cat-ducation course and learn how to treat her well.
          p
            a.ui.button(href='#')
              | Learn
        .column.column-feature
          .ui.icon.header
            i.flaticon-calendar.icon
            |               Library
          p
            | Dig through our cat library to found out amazing things you can do with your kitty.
          p
            a.ui.green.right.labeled.icon.button(href='#')
              | Research
              i.right.flaticon-move.icon
        .column.column-feature
          .ui.icon.header
            i.flaticon-speech.icon
            |               Community
          p Get feedback on your cat from a community of loving pet owners on our online...
          p
            a.ui.button(href='#')
              | Share

      //.ui.centered.grid
        h3.subscribe-header Subscribe to Mailing List
        p.ui.centered.lead.large
          | At least he won't reach his highest potential unless you enroll him in Cat University's 2013 class.
        .ui.form.eight.wide.subscribe.column
          .field
            .ui.fluid.action.input
              input(placeholder='Susbcribe...', type='text')
              .ui.button Susbcribe

    .ui.recent-works.vertical.segment
        .centered.column
          h1.center.aligned.ui.inverted.header
            | Recent Works
          .ui.horizontal.divider
            i.white.flaticon-camera.icon
          p.ui.centered.lead
            | Checkout Our Recently Completed Works
            br
            | you will be amazed!.

        .centered.column
          .ui.three.column.aligned.stackable.divided.grid
            .column
              .ui.card
                .image
                  img(src='images/home/totoro-horizontal.jpg')
                .content
                  .header My Neighbor Totoro
                  .description
                    | Two sisters move to the country with their father in order to be closer to their hospitalized mother, and discover the surrounding trees are inhabited by magical spirits.
                .ui.two.bottom.attached.buttons
                  .ui.button
                    i.flaticon-plus.icon
                    |         Queue
                  .ui.pink.button
                    i.flaticon-play.icon
                    |         Watch

            .column
              .ui.card
                .image
                  img(src='images/home/totoro-horizontal.jpg')
                .content
                  .header My Neighbor Totoro
                  .description
                    | Two sisters move to the country with their father in order to be closer to their hospitalized mother, and discover the surrounding trees are inhabited by magical spirits.
                .ui.two.bottom.attached.buttons
                  .ui.button
                    i.flaticon-plus.icon
                    |         Queue
                  .ui.pink.button
                    i.flaticon-play.icon
                    |         Watch
            .column
              .ui.card
                .image
                  img(src='images/home/totoro-horizontal.jpg')
                .content
                  .header My Neighbor Totoro
                  .description
                    | Two sisters move to the country with their father in order to be closer to their hospitalized mother, and discover the surrounding trees are inhabited by magical spirits.
                .ui.two.bottom.attached.buttons
                  .ui.button
                    i.flaticon-plus.icon
                    |         Queue
                  .ui.pink.button
                    i.flaticon-play.icon
                    |         Watch


    .ui.vertical.segment
      .ui.stackable.center.aligned.page.grid
        .row
          .eight.wide.column
            h1.ui.header
              | Our Clients
            .ui.horizontal.divider
              i.flaticon-settings.icon
            p.ui.centered.lead
              | Many Companies Rely on Our Cat Knowledge
            br
        .four.column.logo.row
          .column
            .ui.shape
              .sides
                .active.side
                  i.huge.flaticon-facebook.icon
                .side
                  i.huge.flaticon-google.icon
                .side
                  i.huge.flaticon-twitter.icon
                .side
                  i.huge.flaticon-pinterest.icon
                .side
                  i.huge.flaticon-google.icon
                .side
                  i.huge.flaticon-more.icon
          .column
            .ui.shape
              .sides
                .side
                  i.huge.flaticon-google.icon
                .side
                  i.huge.flaticon-more.icon
                .active.side
                  i.huge.flaticon-twitter.icon
                .side
                  i.huge.flaticon-facebook.icon
                .side
                  i.huge.flaticon-google.icon
                .side
                  i.huge.flaticon-twitter.icon
          .column
            .ui.shape
              .sides
                .active.side
                  i.huge.flaticon-facebook.icon
                .side
                  i.huge.flaticon-google.icon
                .side
                  i.huge.flaticon-twitter.icon
                .side
                  i.huge.flaticon-pinterest.icon
                .side
                  i.huge.flaticon-google.icon
                .side
                  i.huge.flaticon-more.icon
          .column
            .ui.shape
              .sides
                .side
                  i.huge.flaticon-google.icon
                .side
                  i.huge.flaticon-more.icon
                .active.side
                  i.huge.flaticon-twitter.icon
                .side
                  i.huge.flaticon-facebook.icon
                .side
                  i.huge.flaticon-google.icon
                .side
                  i.huge.flaticon-twitter.icon
    .ui.inverted.footer.vertical.segment.center
      .ui.stackable.center.aligned.page.grid
        .four.column.row
          .column
            h5.ui.inverted.header Courses
            .ui.inverted.link.list
              a.item Registration
              a.item Course Calendar
              a.item Professors
          .column
            h5.ui.inverted.header Library
            .ui.inverted.link.list
              a.item A-Z
              a.item Most Popular
              a.item Recently Changed
          .column
            h5.ui.inverted.header Community
            .ui.inverted.link.list
              a.item BBS
              a.item Careers
              a.item Privacy Policy
          .column
            h5.ui.inverted.header Designed By
            addr
              a.item(href='http://scripteden.com')
                img(src='images/home/scripteden-logo-g.png', alt='Logo', style='height:20px')
              br
              a(href='http://scripteden.com/downloads/bootstrap/') Bootstrap Templates
              br
              a(href='http://scripteden.com/downloads/semantic-ui/') Semantic UI Templates

